/* Styles des clusters */
.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
  text-align: center;
}

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 15px;
  font-size: 12px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marker-cluster-top-secret {
  background-color: rgba(220, 38, 38, 0.4);
}

.marker-cluster-top-secret div {
  background-color: rgba(220, 38, 38, 0.8);
}

.marker-cluster-secret {
  background-color: rgba(234, 88, 12, 0.4);
}

.marker-cluster-secret div {
  background-color: rgba(234, 88, 12, 0.8);
}

.marker-cluster-confidential {
  background-color: rgba(234, 179, 8, 0.4);
}

.marker-cluster-confidential div {
  background-color: rgba(234, 179, 8, 0.8);
}

/* Styles des marqueurs */
.marker-pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: currentColor;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

.marker-pin::after {
  content: '';
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #2a2a2a;
  position: absolute;
  border-radius: 50%;
}

.marker-pin-inner {
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: currentColor;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.red-600 {
  color: rgb(220, 38, 38);
}

.orange-600 {
  color: rgb(234, 88, 12);
}

.yellow-600 {
  color: rgb(234, 179, 8);
} 